/* Add your CSS styles here */
html {
    font-family: 'Afacad';
}

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

main {
    padding: 2rem;
    flex: 1;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.link {
    color: #fff;
    text-decoration: none;
}

.link2 {
    font-size: 120%;
    color: #000;
    text-decoration: none;
    padding: 5px;
    text-align: center;
}

.link2:hover {
    cursor: pointer;
}

#login-status {
    position: absolute; /* Add this line */
    top: 1rem; /* Adjust this value to set the distance from the top */
    right: 1rem; /* Adjust this value to set the distance from the right */
    background-color: #fff;
}

.login-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.item {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px; /* Decrease padding to make items smaller */
    margin: 5px; /* Adjust margin to create space between items */
    text-align: center;
    cursor: pointer;
    flex: 1 1 calc(15% - 10px); /* 5 items per row with a little margin between items */
    max-width: calc(15% - 10px); /* Minimum width for items */
    box-sizing: border-box;
}

.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item.selected {
    border-color: rgb(255, 156, 18);
}

.driver-info, .team-info {
    margin-top: 10px;
}

.driver-name, .team-name {
    font-size: 1.2em;
    font-weight: bold;
}

.driver-price, .team-price {
    color: #888;
}

#budget {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

#current-event {
    max-width: 800px;
    margin: 0 auto; /* Center horizontally */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

#current-event h2 {
    margin-top: 0;
}

#current-event img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.event-card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.event-info {
    padding: 10px;
    text-align: center;
}

.event-info h3 {
    margin: 10px 0;
}

.event-info p {
    margin: 5px 0;
}